
/* Small devices (landscape phones, 576px and up) */
@media (max-device-width:576px){
    body{
        /* background-color: aqua; */
    }
    
    #bgImage{
        height: 880px;
        width: 100%;
      }
    .top-left {
        position: absolute;
        top: 18px;
        left: 12%;
        font-size: 26px;
        color: white;
        font-family: sans-serif
    }
    .top-left1 {
    position: absolute;
    left: 44%;
    font-size: 22px;
    top: 26px; 
    color: white;
    font-family: sans-serif;
    }
    .top-left2 {
    position: absolute;
    left: 52%;
    font-size: 22px;
    top: 26px; 
    color: white;
    font-family: sans-serif;
    }
    .top-left3 {
    position: absolute;
    left: 59%;
    font-size: 22px;
    top: 26px;
    color: white;
    font-family: sans-serif;
    }
    .top-left4 {
    position: absolute;
    left: 66%;
    font-size: 22px;
    top: 26px;
    color: white;
    font-family: sans-serif;
    }
    .top-left5 {
    position: absolute;
    left: 74%;
    font-size: 22px;
    top: 26px;
    color: white;
    font-family: sans-serif;
    }
    .top-left6 {
    position: absolute;
    top: 18px;
    left: 16%;
    font-size: 22px;
    color: white;
    font-family: sans-serif
    }
    #btnlogout{
        left: 84%;
        padding: 2px;
        width:68px;
        font-size:14px;
        top:28px;
        border-radius: 15px;
        color: black;
        font-weight: bold;
        background-color: #F89E12;
    }
        
    #hr1{
        /* color: white;
        background-color: white; */
        height: 1px;
        top: 85%;
    }
    #hr2{
        /* color: white;
        background-color: white; */
        height: 1px;
        top: '45px'
    }

}


/* Medium devices (tablets, 768px and up) */
@media (min-device-width: 768px) and (max-device-width:960px) {
    body{
        background-color: aquamarine;
    }
    #bgImage{
        height: 885px;
        width: 100%;
      }
    .top-left {
        position: absolute;
        top: 18px;
        left: 16%;
        font-size: 26px;
        color: white;
        font-family: sans-serif
    }
    .top-left1 {
    position: absolute;
    left: 48%;
    font-size: 14px;
    top: 27px; 
    color: white;
    font-family: sans-serif;
    }
    .top-left2 {
    position: absolute;
    left: 54%;
    font-size: 14px;
    top: 27px; 
    color: white;
    font-family: sans-serif;
    }
    .top-left3 {
    position: absolute;
    left: 60%;
    font-size: 14px;
    top: 27px;
    color: white;
    font-family: sans-serif;
    }
    .top-left4 {
    position: absolute;
    left: 66%;
    font-size: 14px;
    top: 27px;
    color: white;
    font-family: sans-serif;
    }
    .top-left5 {
    position: absolute;
    left: 72%;
    font-size: 14px;
    top: 27px;
    color: white;
    font-family: sans-serif;
    }
    .top-left6 {
    position: absolute;
    top: 18px;
    left: 16%;
    font-size: 24px;
    color: white;
    font-family: sans-serif
    }

    #btnlogout{
        left: 78%;
        padding: 2px;
        width:65px;
        font-size:14px;
        top:22px;
        border-radius: 15px;
        color: black;
        background-color: #F89E12;
    }
    
   

}


/* Large devices (desktops, 992px and up) */
@media (min-width:  62em) and (max-device-width:74em) {
    body{
        background-color: cadetblue;
        
    }

}


/* Extra large devices (large desktops, 1200px and up) */   /* 75em --> 1200px and more than 1200pixels */
@media (min-width: 75em )  {
    body{
        background-color: cornflowerblue;
    }


}